# BEGIN REFERRER SPAM BANNING
<IfModule mod_rewrite.c>
    RewriteCond %{HTTP_REFERER} 100dollars-seo.com [NC,OR]
    RewriteCond %{HTTP_REFERER} 4webmasters.org [NC,OR]
    RewriteCond %{HTTP_REFERER} 7makemoneyonline.com [NC,OR]
    RewriteCond %{HTTP_REFERER} acads.net [NC,OR]
    RewriteCond %{HTTP_REFERER} anal-acrobats.hol.es [NC,OR]
    RewriteCond %{HTTP_REFERER} anticrawler.org [NC,OR]
    RewriteCond %{HTTP_REFERER} best-seo-offer.com [NC,OR]
    RewriteCond %{HTTP_REFERER} best-seo-solution.com [NC,OR]
    RewriteCond %{HTTP_REFERER} bestwebsitesawards.com [NC,OR]
    RewriteCond %{HTTP_REFERER} blackhatworth.com [NC,OR]
    RewriteCond %{HTTP_REFERER} brakehawk.com [NC,OR]
    RewriteCond %{HTTP_REFERER} buttons-for-website.com [NC,OR]
    RewriteCond %{HTTP_REFERER} buttons-for-your-website.com [NC,OR]
    RewriteCond %{HTTP_REFERER} buy-cheap-online.info [NC,OR]
    RewriteCond %{HTTP_REFERER} darodar.com [NC,OR]
    RewriteCond %{HTTP_REFERER} econom.co [NC,OR]
    RewriteCond %{HTTP_REFERER} event-tracking.com [NC,OR]
    RewriteCond %{HTTP_REFERER} forum20.smailik.org [NC,OR]
    RewriteCond %{HTTP_REFERER} forum69.info [NC,OR]
    RewriteCond %{HTTP_REFERER} free-share-buttons.com [NC,OR]
    RewriteCond %{HTTP_REFERER} free-social-buttons.com [NC,OR]
    RewriteCond %{HTTP_REFERER} get-free-traffic-now.com [NC,OR]
    RewriteCond %{HTTP_REFERER} googlsucks.com [NC,OR]
    RewriteCond %{HTTP_REFERER} guardlink.org [NC,OR]
    RewriteCond %{HTTP_REFERER} howtostopreferralspam.eu [NC,OR]
    RewriteCond %{HTTP_REFERER} hulfingtonpost.com [NC,OR]
    RewriteCond %{HTTP_REFERER} humanorightswatch.org [NC,OR]
    RewriteCond %{HTTP_REFERER} ilovevitaly.com [NC,OR]
    RewriteCond %{HTTP_REFERER} iminent.com [NC,OR]
    RewriteCond %{HTTP_REFERER} kabbalah-red-bracelets.com [NC,OR]
    RewriteCond %{HTTP_REFERER} kambasoft.com [NC,OR]
    RewriteCond %{HTTP_REFERER} makemoneyonline.com [NC,OR]
    RewriteCond %{HTTP_REFERER} masterseek.com [NC,OR]
    RewriteCond %{HTTP_REFERER} o-o-6-o-o.com [NC,OR]
    RewriteCond %{HTTP_REFERER} ok.ru [NC,OR]
    RewriteCond %{HTTP_REFERER} pornhub-forum.ga [NC,OR]
    RewriteCond %{HTTP_REFERER} pornhub-forum.uni.me [NC,OR]
    RewriteCond %{HTTP_REFERER} priceg.com [NC,OR]
    RewriteCond %{HTTP_REFERER} ranksonic.info [NC,OR]
    RewriteCond %{HTTP_REFERER} ranksonic.org [NC,OR]
    RewriteCond %{HTTP_REFERER} rapidgator-porn.ga [NC,OR]
    RewriteCond %{HTTP_REFERER} sanjosestartups.com [NC,OR]
    RewriteCond %{HTTP_REFERER} savetubevideo.com [NC,OR]
    RewriteCond %{HTTP_REFERER} search.tb.ask.com [NC,OR]
    RewriteCond %{HTTP_REFERER} searchlock.com [NC,OR]
    RewriteCond %{HTTP_REFERER} semalt.com [NC,OR]
    RewriteCond %{HTTP_REFERER} semaltmedia.com [NC,OR]
    RewriteCond %{HTTP_REFERER} sexyteens.hol.es [NC,OR]
    RewriteCond %{HTTP_REFERER} simple-share-buttons.com [NC,OR]
    RewriteCond %{HTTP_REFERER} social-buttons.com [NC,OR]
    RewriteCond %{HTTP_REFERER} trafficmonetize.org [NC,OR]
    RewriteCond %{HTTP_REFERER} theguardlan.com [NC,OR]
    RewriteCond %{HTTP_REFERER} webmaster-traffic.com [NC,OR]
    RewriteCond %{HTTP_REFERER} webmonetizer.net [NC,OR]
    RewriteCond %{HTTP_REFERER} youporn-forum.ga [NC]
    RewriteRule .* - [F]
</IfModule>
# END REFERRER SPAM BANNING
